---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Markdown } from "astro-remote";
import { Markup } from "astro-remote";
import { createRegExp, digit, oneOrMore } from "magic-regexp";
import { ofetch } from "ofetch";
import Input from "~/components/Input.astro";
import LanguagePicker from "~/components/LanguagePicker.astro";
import { type Language, useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/Layout.astro";
import "~/tailwind.css";
import type { SearchResultResponse } from "~/types";

const t = useTranslations((Astro.currentLocale as Language) || "es");

let data = undefined;
const q = Astro.url.searchParams.get("q");
const regex = createRegExp(oneOrMore(digit));

if (q) {
	data = await ofetch<SearchResultResponse>(
		"https://id.who.int/icd/entity/search",
		{
			headers: {
				Authorization: `Bearer ${Astro.locals.token}`,
				"API-Version": "v2",
				"Accept-Language": Astro.currentLocale || "es",
			},
			params: {
				q,
				useFlexisearch: false,
				flatResults: false,
				highlightingEnabled: true,
			},
		},
	);
}
---

<Layout title="ICD Search">
	<main class="max-w-prose mx-auto p-6 space-y-10 min-h-dvh">
		<LanguagePicker />

		<header>
			<p
				class="uppercase text-center text-pretty leading-4 text-xs font-medium font-mono text-neutral-500"
			>
				{t("home.subtitle")}
			</p>
			<h1
				class="mt-1 text-5xl font-bold text-center text-neutral-dark font-sans"
			>
				{t("home.title")}
			</h1>
		</header>

		<form class="grid gap-2" method="get" data-astro-reload>
			<label>
				<span class="sr-only">Search</span>
				<Input
					type="search"
					name="q"
					placeholder={t("home.search-input.placeholder")}
					inputmode="search"
				/>
			</label>

			<button class="sr-only">Search</button>

			<div class="text-xs text-center text-pretty text-neutral-500">
				<Markdown content={t("home.search-input.info")} />
			</div>
		</form>

		<ul class="grid gap-4 p-0 max-w-full" role="list" id="search-results">
			{
				data?.destinationEntities?.map((item) => (
					<li
						class="group list-none rounded-lg bg-emerald-50 shadow shadow-emerald-500"
						title={item.title}
					>
						<div class="w-full rounded-lg p-6">
							<h2 class="text-xl font-semibold">
								<Markup content={item.title ?? ""} />
							</h2>

							<div
								hx-post={getRelativeLocaleUrl(
									Astro.currentLocale || "es",
									"/partials/entity-code",
								)}
								hx-vals={`{ "foundationUri": "${item.id}" }`}
								hx-swap="outerHTML"
								hx-trigger="load"
							/>

							<div
								hx-post={getRelativeLocaleUrl(
									Astro.currentLocale || "es",
									"/partials/entity",
								)}
								hx-vals={`{ "entityId": "${item?.id?.match(regex)}" }`}
								hx-swap="outerHTML"
								hx-trigger="load"
							/>
						</div>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
