---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Markdown } from "astro-remote";
import Input from "~/components/Input.astro";
import LanguagePicker from "~/components/LanguagePicker.astro";
import { type Language, useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/Layout.astro";
import "~/tailwind.css";

const t = useTranslations((Astro.currentLocale as Language) || "es");
---

<Layout title="ICD Search">
	<main class="max-w-prose mx-auto p-6 space-y-10 min-h-dvh">
		<LanguagePicker />

		<header>
			<p
				class="uppercase text-center text-pretty leading-4 text-xs font-medium font-mono text-neutral-500"
			>
				{t("home.subtitle")}
			</p>
			<h1
				class="mt-1 text-5xl font-bold text-center text-neutral-dark font-sans"
			>
				{t("home.title")}
			</h1>
		</header>

		<form
			class="grid gap-2"
			hx-post={getRelativeLocaleUrl(
				Astro.currentLocale || "es",
				"/partials/search-results",
			)}
			hx-target="#search-results"
		>
			<label>
				<span class="sr-only">Search</span>
				<Input
					type="search"
					name="q"
					placeholder={t("home.search-input.placeholder")}
					inputmode="search"
				/>
			</label>

			<button class="sr-only">Search</button>

			<div class="text-xs text-center text-pretty text-neutral-500">
				<Markdown content={t("home.search-input.info")} />
			</div>
		</form>

		<ul class="grid gap-4 p-0 max-w-full" role="list" id="search-results">
		</ul>
	</main>
</Layout>
