---
import Layout from "../layouts/Layout.astro";
import "../tailwind.css";
---

<Layout title="ICD Search">
	<main class="max-w-prose mx-auto p-4 space-y-6">
		<h1 class="text-5xl font-bold text-center text-neutral-dark">
			Welcome to ICD Search
		</h1>

		<!-- <div class="h-12 rounded-lg bg-gradient-to-r from-primary to-[#F7A683]">
		</div>
		<div class="h-12 rounded-lg bg-gradient-to-r from-[#87C6F3] to-primary">
		</div> -->

		<form
			class="flex"
			hx-post="/partials/search-results"
			hx-target="#search-results"
		>
			<input
				type="search"
				name="q"
				placeholder="Search"
				inputmode="search"
			/>
			<button class="sr-only">Search</button>
		</form>

		<ul class="grid gap-4 p-0" role="list" id="search-results"></ul>
	</main>
</Layout>
