---
import { Markup } from "astro-remote";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<li
	class="list-none flex p-px bg-neutral-800 bg-none [background-size:400%] rounded-md [background-position:100%] [transition:background-position_0.6s_cubic-bezier(0.22,1,0.36,1)] [box-shadow:inset_0_0_0_1px_rgba(255,255,255,0.1)] hover:[background-position:0] hover:bg-gradient-to-r hover:from-[rgb(136,58,234)] hover:to-[rgb(224,204,250)]"
>
	<div
		class="w-full rounded-lg dark:text-white dark:bg-neutral-800 opacity-80 [padding:calc(1.5rem-1px)]"
	>
		<h2
			class="text-xl [transition:color_0.6s_cubic-bezier(0.22,1,0.36,1)] hover:text-[rgb(224,204,250)]"
		>
			<Markup content={title} />
		</h2>
		<slot />
	</div>
</li>
