@import "tailwindcss";

@theme {
    --color-primary: hsl(205, 58%, 12%);
    --color-secondary: hsl(131, 60%, 58%);
    --color-accent: hsl(207, 47%, 93%);
}

@layer base {
    * {
        @apply border-neutral-200;
    }
}
